@import "tailwindcss";

/* Estilos globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 fallback */
  color: #f1f5f9; /* slate-100 fallback */
}
